# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\NJU\code\slbo_pytorch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
